@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Birthstone&family=Caramel&family=Charm:wght@700&family=Chivo+Mono&family=Dancing+Script:wght@500&family=Josefin+Sans&family=Orbitron&family=Pacifico&family=Petit+Formal+Script&family=Poppins&family=Press+Start+2P&family=Prosto+One&family=Righteous&family=Roboto:wght@400;500&family=Rubik&family=Source+Sans+Pro&family=Unbounded&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h2{
    margin-bottom: 30px;
    font-family: 'Poppins';
}

.container{
    text-align: center;
    border: 6px solid chocolate;
    padding: 60px 40px 30px 40px;
    border-radius: 20px;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background: lightgray;
    height: 4px;
    width: 350px;
    position: relative;
    margin-bottom: 30px;
}

.progress-container::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    height: 4px;
    width: 100%;
    background: lightgray;
    transition: 0.4s ease;
}

#progress{
   background: navy;
   height: 4px;
   width: 0%;
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   z-index: 0;
   transition: 0.4s ease;
}

.line-number{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: solid 3px lightgray;
    background-color: #fff;
    z-index: 1;
}

.line-number.active{
    border-color: navy;
}

.btn{
    margin: 10px;
    padding: 10px 28px;
    background-color: navy;
    font-size: 14px;
    border-radius: 10px;
    color: #fff;
    border: none;
}

.btn:active{
    transform: scale(0.98);
}

.btn:disabled{
    background-color: lightgray;
}


